# === Terraform ===
*.tfstate
*.tfstate.backup
*.tfplan
.crash
.terraform/
.terraform.lock.hcl

# Ignore local .tfvars files (often used for secrets or overrides)
*.tfvars

# === Ansible ===
*.retry
*.log
inventory.ini
host_vars/
group_vars/
vault_pass.txt

# === Docker ===
**/docker-compose.override.yml
**/.docker/
**/docker-data/
**/tmp/